body{
    background-color:#24353f ;
    font-family: "Titillium Web", sans-serif;
    font-style: normal
}
.card{
    background-color:#24353f ;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-control{
    background-color:#24353f ;
    color:#fff;
    border-color:#ced4da ;
}
.form-control::placeholder {
    color:#ced4da ;
}
.form-control:focus{
    background-color:#24353f ;
    color:#fff;
    box-shadow:none;
    border-color:#80bdff;
    outline: 0;
}
h1{
    color:#17a2b8 ;
    font-weight: 600;
}
.btn{
    border-color: #17a2b8;
    color: #17a2b8;
}
.btn:hover{
    background-color: #17a2b8;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: underline;
}